# Service listening ports
AUTH_SERVICE_PORT=3001
UPLOAD_SERVICE_PORT=3002

# JWT secret credentials
JWT_ACCESS_SECRET='This-Is-A-Very-Secret-String'
JWT_ACCESS_EXPIRES_IN='15m'
JWT_REFRESH_SECRET='This-Is-A-Very-Secret-String'
JWT_REFRESH_EXPIRES_IN='7d'

# RDS credentials
DATABASE_HOST='192.168.1.240'
DATABASE_PORT=5432
DATABASE_USER='sussybaka'
DATABASE_PASS='sussybakadeptrai'

# Redis credentials
REDIS_HOST='192.168.1.240'
REDIS_PORT=6379
REDIS_PASSWORD=
